
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body { background-color: #fef2b3;

}
.landingH1 { color: #36A9E1;
    font-family: Quicksand, sans-serif;
}
.spinner-color{ color: #E94683;
     
}
.rotating_01{
    display: block;

}
.rotating_01:hover{
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
.imgheader{
    filter: grayscale(0.90)
}

.col-1{
    background-color: aqua;
}

footer a:hover {
	opacity: .5;
}